body{
    background-color: black;
}
html {
  width: 100%;
  height: 100%;
}

li {
  list-style: none;
}

.outer-container {
  background: rgb(13, 28, 71);
  box-shadow: inset -1px 1px 7px rgba(0,0,0,.2), inset 1px -1px 7px rgba(0,0,0,.2), 1px 12px 5px rgba(0,0,0,.4), 4px 3px 8px rgba(0,0,0,.4), 5px 10px 10px rgba(0,0,0,.2), -5px 10px 10px rgba(0,0,0,.4);
  position: relative;
  border-radius: 10px;
  width: 400px;
  height: 390px;
  margin: 10% auto;
  padding: 40px 0 0;
}


.board-container {
  width: 350px;
  height: 350px;
  background: rgba(40,40,40,1)
    -webkit-radial-gradient(center, rgba(40,80,60,1), rgba(0,20,20,.6));
  background: rgba(40,40,40,1)
    -moz-radial-gradient(center, rgba(40,80,60,1), rgba(0,20,20,.6));
  background: rgba(40,40,40,1)
    -ms-radial-gradient(center, rgba(40,80,60,1), rgba(0,20,20,.6));
  background: rgba(40,40,40,1)
    radial-gradient(center, rgba(40,80,60,1), rgba(0,20,20,.6));
  background-size: cover;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

.game-board {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.boxes {
  padding: 0;
  width: 100%;
  height: 100%;
  position: relative;
  left: 12px;
  top: 0;
}

.boxes li {
  width: 30%;
  height: 30%;
  display: inline-block;
  position: relative;
  z-index: 1000;
  margin-left: 2px;
  margin-right: 2px;
  overflow: hidden;
}

li i {
  font-size: 6.5rem;
  text-align: center;
  display: block;
  width: 100%;
  height: 100%;
  font-style: normal;
  font-family: "Architects Daughter", "Helvetica", "sans-serif";
  color: rgba(220,220,220,.7);
  z-index: 500;
}

li span {
  position: relative;
  bottom: 15px;
}

/* Canvas Drawing */

#myCanvas {
  width: 330px;
  height: 330px;
  position: absolute;
  z-index: 0;
  left: 10px;
  top: 0;
  opacity: 0;
}

/* Player/Computer prompt */
.player-one-turn {
  background: rgba(0,200,200,1);
  left: 15px;
}

.player-two-turn {
  background: rgb(20, 5, 75);
  right: 15px;
}

.player-one-turn,
.player-two-turn {
  position: absolute;
  top: 0;
  width: 170px;
  height: 50px;
  z-index: -10;
  color: white;
  text-align: center;
}

.player-one-turn p,
.player-two-turn p {
  font-size: 1.3rem;
  margin-top: 10px;
}

/* Score keeping */
.points-divider,
.score-1,
.score-2 {
  position: absolute;
  font-size: .9rem;
  margin: 0;
  display: none;
}

.score-1,
.score-2 {
  font-family: 'Architects Daughter', sans-serif;
  top: 17px;
  color: rgba(32, 15, 65, 0.9);
}

.score-1 .points, 
.score-2 .points {
  position: absolute;
  text-align: center;
  bottom: 14px;
  color: rgba(32, 15, 65, 0.9);
  font-family: 'Architects Daughter', sans-serif;
}

.points-divider {
  top: 5px;
  left: 141px;
  font-size: 2rem;
  font-family: helvetica, sans-serif;
  font-style: normal;
  opacity: .2;
}

.score-1 {
  left: 75px;
}

.score-2 {
  left: 161px;
}

/* reset button */
.hard-reset {
  position: absolute;
  top: 5px;
  right: 20px;
  background: none;
  border: none;
  font-family: 'Architects Daughter', sans-serif;
  color: rgba(100,60,50,.8);
  font-size: 1.1rem;
  border-radius: 20px;
  border: 2px dashed transparent;
  display: none;
}

.hard-reset:hover {
  border: 2px dashed rgba(100,60,50,1);
  color: rgba(100,60,50,1);
}

.hard-reset:focus {
  outline: none;
}

/*  Result Feedback */
span.rotate {
  color: rgba(0,200,200,1);
}

i.win {
  background: black;
}

.draw-message,
.lose-message,
.win-message {
  background: rgba(0,0,0,.8);
  width: 400px;
  height: 400px;
  z-index: 2000;
  position: absolute;
  display: none;
  top: -15px;
  left: 0;
  box-sizing: border-box;
}

.draw-message p,
.lose-message p,
.win-message p {
  color: white;
  text-align: center;
  position: absolute;
  font-size: 2.3rem;
  margin: 0;
  top: 150px;
  left: 50px;
  font-family: 'Architects Daughter', sans-serif;
}

/*============================================
          Game Starter
============================================*/

.game-choice,
.game-starter {
  background: rgba(40,40,40,1)
    -webkit-radial-gradient(center, rgba(40,80,60,1), rgba(0,20,20,.6));
  background: rgba(40,40,40,1)
    -moz-radial-gradient(center, rgba(40,80,60,1), rgba(0,20,20,.6));
  background: rgba(40,40,40,1)
    -ms-radial-gradient(center, rgba(40,80,60,1), rgba(0,20,20,.6));
  background: rgba(40,40,40,1)
    radial-gradient(center, rgba(40,80,60,1), rgba(0,20,20,.6));
  
  display: block;
  width: 100%;
  height: 500px;
  position: absolute;
  top: 0px;
  text-align: center;
  font-family: 'Architects Daughter', Helvetica, sans-serif;
  z-index: 1500;
/*  display: none;*/
}

.game-starter {
  display: none;
}

.game-choice p,
.game-starter p {
  font-size: 2.2rem;
}

.game-choice button,
.game-choice p,
.game-starter button,
.game-starter p {
  color: rgb(201, 211, 69);
  position: relative;
  top: 50px;
  margin: 10px auto;
}

.game-choice p,
.game-starter p {
  max-width: 80%;
}

.game-choice button,
.game-starter button {
  background: none;
  border: none;
  opacity: .6;
  border-radius: 20px;
  border: 2px solid transparent;
  font-size: 1.7rem;
}

.game-starter button {
   font-size: 2.8rem;
}

.game-choice button:focus,
.game-starter button:focus {
  outline: none;
}
.game-choice button:hover,
.game-starter button:hover {
  opacity: 1;
  border: 2px dashed rgba(230,230,230,.5);
}

.game-starter button.back-button  {
  position: absolute;
  top: 270px;
  right: 130px;
  font-size: 1.5rem;
  border: none;
}

.game-starter .back-button:hover {
  border: none;
}

button {
  cursor: pointer;
}

/*============================
    Win/Lose animation 
==============================*/
.rotate {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -ms-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  to {
    -ms-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  to {
    -ms-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}