* {
  margin: 0;
  padding: 0;
}


body{
  background-color: #071022;


}

.league {
  display: flex;
  align-items: center;
  position: relative;
  left: 2%;
}

.rays{
  align-items: center;
	width: 5px;
	height: 5px;
	border-radius: 40%;
  box-shadow: 10px 10px white,
    40px 30px  white,
    80px 120px white,
    300px 20px white,
    250px 130px white,
    200px 50px white,
    150px 100px white,
    320px 100px white;
    animation: anim-rays 2s linear infinite;

}
.rays2{
  position: relative;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  box-shadow: 15px 15px white,
    125px 35px white,
    50px 80px white,
    10px 120px white,
    275px 90px white,
    230px 10px white,
    120px 130px white,
    300px 130px white,
    220px 115px white;
  animation: anim-rays 5s linear infinite;
}



@keyframes anim-rays{
  from {
      transform: translateY(0px);
  }
  to {
      transform: translateY(-150px);
  }
}

header {
   background-color: rgba(22,18,19,1);
   display: flex;
   font-size: 20px;
   color: white;
   font-family: Spiegel, "Arial Narrow", Arial, sans-serif;

}

nav {
  display: block;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background:  #071022;
  padding-left: 50px;
  height: 3vh;
  
}

.nav-list {
  list-style: none;
  display: block;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 45px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background:  rgb(13, 199, 128);
  margin: 8px;
  transition: 0.3s;
}


select {
display: flex;
}


.button {
color: gray;
padding-left: 3%;
padding-right: 3%;
background-color: transparent;
clip-path: polygon(7% 0, 93% 0, 100% 50%, 93% 100%, 7% 100%, 0 50%);
box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.4), 0 0 9px 3px rgba(27, 253, 156, 0.1);
border-radius: 5px;
cursor: pointer;
transition: 0.5s;
font-size: 15px;
border: 1px solid;
font-family: Spiegel, "Arial Narrow", Arial, sans-serif;
backdrop-filter: blur(5px);
position:center;
}
.button:hover {
color: gray;
}

.nav-filtros {
display: flex;
justify-content: center;
height: 10vh;

}
.filtros {
  width: 15rem;
    height: 3rem;
    background: transparent;
    background: url(img/icon-arrow.svg) no-repeat right;
    -webkit-appearance: none;
    background-position-x: 92%;
    background-position-y: .8rem;
    background-size: 2rem;
    border: 2px solid #98783C;
    box-sizing: border-box;
    margin: 1rem;
    color: #98783C;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: .8rem;
    letter-spacing: 0.2rem;
    text-align: center;
 }
 
 button:hover {
  color: #82ffc9;
  box-shadow: inset 0 0 8px rgba(27, 253, 156, 0.6), 0 0 9px 3px rgba(27, 253, 156, 0.2);
 }
 
 button:before {
  content: "";
  position: absolute;
  left: -4em;
  width: 4em;
  height: 100%;
  top: 0;
  transition: transform .4s ease-in-out;
  background: linear-gradient(to right, transparent 1%, rgba(27, 253, 156, 0.1) 40%,rgba(27, 253, 156, 0.1) 60% , transparent 100%);
 }
 
 button:hover:before {
  transform: translateX(15em);
 
}

.buscar-e-limpar {
display: flex;

justify-content: center;
margin-right: 75%;
padding: 0%;
}

.pesquisar {
  display: inline-block;
  position: relative;
  color:  rgb(236, 162, 25);
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 15px 30px;
  text-align: center;
  border: none;
  clip-path: polygon(7% 0, 93% 0, 100% 50%, 93% 100%, 7% 100%, 0 50%);
  background-color:  #98783C;
  background-image: radial-gradient(200% 70% at center 20%,  #1BFD9C -30%, rgba(50,46,47,1) 49%, rgba(22,18,19,1) 50%, rgba(22,18,19,1) 150%);
  background-repeat: no-repeat;
  transition: background-position-y ease-in-out 250ms;
 }
 
 button:hover {
  background-position-y: -50px;
 }
 
 button:active {
  transform: scale(0.99);
 }

:placeholder {
font-size: 25px;
letter-spacing: 2px;
font-family: Spiegel, "Arial Narrow", Arial, sans-serif;

}

.cards-container {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

 }
  

.print-cards {

  background-color: transparent;
  box-shadow: inset 0 0 15px #98783C;
  margin-top: 10px;
  width: 20vw;
  height: 50vh;
}
.imagem-campeão {
  width: 100%;
  height: 60%;
}
.card{
margin-top: 0%;
padding-top: 0%;
padding-top: .5rem;
text-align: center;
color: #98783C;
}