@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');

*{
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Alice', serif;
  background-image: url(img/background.jpg);
  background-repeat: no-repeat;
}

.logo{
  width: 20%;
}

.header{
  display: flex;
  align-items: center;
}

h1{
  margin-left: 20%;
  font-size: 40px;
}

.button{
  background-color: #3B313F;
  color: #ffff;
  border-radius: 5px;
  padding: 10px;
  border-color: transparent;
  width: 16%;
  margin: 1em;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-card{
  width: 12%;
}

.hidden{
  display: none;
}

#cards-computer{
  margin: 50%;
}
