body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 300 !important;
  background-image: url("./images/background-body.jpg");
  height: 100vh;
  color: #ffffff;
  font-weight: 500;
  position: absolute;
  z-index: -5;
  overflow-x: hidden;
}

/* HEADER */
header {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(15, 22, 28, 0.8);
}

.nome-projeto {
  padding: 10px;
  margin: 5px 0;
  font-size: 45px;
  font-weight: 400;
  color: #fff;
  text-shadow: #007783 0.1em 0.1em 0.2em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
  height: 100vh;
  width: 100vw;
  display: flex;
}

/* CARD */
.container-card,
.container-placar {
  flex: 2;
  align-items: center;
  display: flex;
  justify-content: center;
}

.container-placar {
  flex: 1;
  flex-direction: column;
}

.card .radio-grupo {
  background-color: #0c151cab;
  border-radius: 6px;
  padding: 10px 2px;
  margin: 10px 0;
  cursor: pointer;
  display: block;
}

.radio-grupo:hover {
  background-color: #0e151bcc;
}


.radio-grupo * {
  cursor: pointer;
}

.radio-grupo-maquina:hover {
  background-color: #0c151cab !important;
  cursor: default;
}

.card {
  min-height: 400px;
  width: 300px;
  border: #122833 solid 6px;
  border-radius: 6px;
  padding: 10px;
  background: linear-gradient( to right, #013743, #007783, #007783, #013743 ) rgb(19 38 53);
}

.card img {
  height: 215px;
  max-width: 270px;
  display: block;
  text-align: center;
  margin: 0 auto;
  border-radius: 6px;
}

.imagem-padrao {
  height: 370px !important;
}

/* BOTOES PLACAR JOGAR E INICIAR */
.botao {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  border-radius: 6px;
  /* background: #007783;
  color: white; */
}

.placar {
  height: 200px;
  width: 200px;
  border: #705631 solid 6px;
  text-align: center;
  margin: 20px;
  border-radius: 6px;
  background-color: rgba(15, 22, 28, 0.8);
}

.placar p {
  font-size: large;
  font-weight: 400;
  padding: 20px;
  color: #fff;
}

.titulo-placar {
  text-shadow: 0 0 0.2em #87F, 0 0 0.2em #013743, 0 0 0.2em #013743
}

/* FOOTER */
footer {
  width: 100vw;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(15, 22, 28, 0.8);
  box-sizing: border-box;
}

.info-lab {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-lab a,
.sobre-nos * {
  color: #705631;

}

.logo-rodape-lol {
  width: 100px;
}

.sobre-nos {
  justify-content: center;
}

.sobre-nos p a {
  margin-bottom: 3px;
  color: #fff;
  font-size: 14px;
}

.sobre-nos li {
  margin-top: 3px;
  font-size: 13px;
}

.logo-rodape {
  width: 30px;
  margin: 4px;
}

.logo-rodape-lol {
  width: 100px;
}

#resultado {
  height: 20px;
  margin-top: 10px;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
}

/*  background: linear-gradient(90deg, rgba(197,146,41,1) 35%, rgba(138,93,24, 0.8) 100%); */